*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
i{
    cursor: pointer;
}
body{
    font-family: 'Work Sans', sans-serif;
}
li{
    list-style: none;
}


.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px 40px 240px;

}
.nav-items ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.nav-items ul li a, .follow us{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.fa-youtune{
    color: #F61C0D;
    font-size: 23px;
    margin-left: 16px;
    margin-right: 16px;

}
.fa-tiktok{
    font-size: 19px;
}
.nav-items ul li button{
    width: 260px;
    height: 55px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    gap: 15px;
}
.nav-logo{
    width: 86px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.nav-logo h1{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}



.banner-container{
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;

}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px 0px 200px;
    gap: 50px;
}
.banner-content{
    text-align: left;
}
.banner-content h3{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;

}
.banner-content h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content p i{
    color: #534C64;
    font-size: 25px;

}
.banner-content p{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 0rem;
  
}
.banner-content p:hover{
    transform: scale(1.1);
    color: #F948B2;
    cursor: pointer;
}
.banner-img{
    width: 42.75rem;
    height: 100%;
}
.buttons{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.btn{
   background: #F948B2;
   border: none;
   display: inline-flex;
   border-radius: 40px;
   font-size: 20px;
   font-weight: 500;
   color: #FFF;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    
}
.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.btn-blue{
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
 
}
.btn-blue:hover{
    transform: scale(1.1);
    cursor: pointer;
}



.online-games{
    padding: 0rem 12.5rem 6.25rem 12.5rem;
}

.video-content h1{
    padding-top: 6.25rem;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.video-content p{
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 48px;

}

.video-card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.overlay i{
    color: #FFF;
    font-size: 44.8px;

}

.overlay{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    color: #F948B2;
    font-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 340px;
    height: 400px;
    opacity: 0;
    border-radius: 16px;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.60);

}

 .card{
   position: relative;

 }
 .card:hover .overlay{
    opacity: 1;

 }
 .card-img{
    padding-bottom: 24px;
    width: 340px;
    height: 400px;
    display: block;
    height: auto;

 }
 .card p{
    color: #534C64;
    font-size: 19.2px;
    font-weight: 500;
 }


 .play-instant{
    padding: 0rem 12.5rem 0rem 25rem;
}
.play-instant-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -15.6rem;
}
.main-img{
    width: 37.5rem;
height: 40.6rem;
}
.side-img{
    width: 19.87rem;
    height: 22.81rem;
    position: relative;
    left:-9.3rem;
    top:-17.5rem;
}
.play-instant-content{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: end;
    align-items: center;
    margin-top: 25%;
    margin-bottom: 50%;
}
.play-instant-content h1{
text-align: right;
font-size: 3rem;
font-weight: 700;
}
.play-instant-content p{
    color: #534C64;
text-align: right;
font-size: 1.1rem;
font-weight: 400;
width: 22rem;

}
.play-instant-img{
    height: 90%;
    margin-left: 15.6rem;
}  



.careers{
    background: #FF42A5;  
    margin-bottom: 18.7rem;  
    padding-left: 12.5rem;
    padding-right: 12.5rem;
}
.careers-container{
    display: flex;
    align-items: center;
    gap: 3.1rem;
}
.career-content{
    width: 50%;
}
.career-img{
    width: 50%;
}
.career-content h1{
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 1.5rem;
}
.career-content p{
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 400;
    padding-bottom: 2.5rem;
}
.career-content button{
    padding: 1.3rem 2.5rem;
    border-radius: 3rem;
    background: #FFF;
    color: #FF42A5;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    transition: transform 0.5s;
}
.career-content button:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.careers-type{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}
.right{
    text-align: right;
}
.left, .right{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
}


.game-links-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: -250px;
    margin-bottom: 50px;
}

.game-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12.8px;
    padding: ;
    margin: ;
    border-radius: ;
    border: none;
    transition: 0s;

}

.game-link:hover{
    cursor: pointer;
    border: 3px solid #F948B2;
}




.footer-container   {
    background: #0B0223;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    padding-top: 7.8rem;
    gap: 20px;
    color: #FFF;
    display: flex;
    /*  */

}
.footer-logo h1{
    text-align: center;
font-size: 2.8rem;
}
.footer-items ul {
    padding-top: 56px;
    display: flex;
    gap: 60px;
    
}
.footer-items ul li a{
    color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 600;
}
.footer-icons{
color: #fff;    
font-size: 40px;
display: flex;
gap: 40px;
padding-top: 60px;

}
.fa-facebook{
    background: blue;
    border-radius: 50%;
}
#youtube{
    color: white;
    font-size: 40px;
    padding-left: -5px;
    padding-right: -10px;
    
}
.footer-links{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 60px; 
padding-top: 60px;
}
.footer-links a{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-size: 16px;
font-weight: 500;
padding-top: 60px;
padding-bottom: 60px;
}





/* Mobile view */
@media screen and (max-width: 576px){
    .nav-container, .nav-items ul{
        flex-direction: column;
       
}
.nav-container{
    justify-content: center;
    padding: 40px 400px 40px 400px;
}
.nav-items ul{
    margin-top: 30px;
}
.banner-container{
    flex-direction: column-reverse;
    /* width: 100vw; */
    margin: 20px 190px 0px 190px;
    background-image:none;
}
.banner-img{
    width: 40rem;
    height: 80%;

}
.banner-content{
    text-align: center;
    padding-left: 50%;
    padding-right: 50%;
    justify-content: center;
}

.gamer-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    margin: 20px 190px 0px 190px;
    gap: 3.12rem;
    /* padding: 0rem 12.5rem; */
}
.gamer-img img{
    width:700px;
    height: 400px;
    padding-left: auto
    ;
}
.gamer-content{
    text-align: center;
}
.online-games{
    /* margin: 20px 190px 0px 190px; */
    width: 100vw;
    padding-left: 180px;
    padding-right: 200px;
}
.videos-card-container{
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    gap: 30px;
}
.card{
    padding-left: 50px;
}
.play-instant{
    padding: 0rem ;
    margin-left: 180px;
}
.play-instant-container{
    flex-direction: column;
}
.play-instant-content{
    margin-left: 180px;
}
.play-instant-content h1{
    text-align: center;
}
.play-instant-content p{
    text-align: center;
}
.play-instant-img{
    height: 90%;
    margin-left: 15.6rem;
}   
.main-img{
    width: 30rem;
    height: 35rem;
}
.side-img{
    width: 14rem;
    height: 16rem;
    position: relative;
    left:-7.3rem;
    top:-10.5rem;
}
.play-instant-2{
    display: none;
}
.careers{
    display: none;
}
.game-links-container{
    padding-left: 200px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.game-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0.6rem;
    margin: 1.7rem;
    border-radius: 3.1rem;
    border: none;
    transition: 0s;
}
.footer-container{
/* margin-left: 300px; */
margin-right: -380px; 
padding-right: 150px;
padding-left: 150px;
}
.footer-items ul {
    text-align: center;
    padding-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.footer-icons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 20px;
    
}
.fa-facebook{
    background: none;    
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(2, 1fr); */
    padding-left: 50px;
    padding-right: 50px;
    gap: 30px; 

}   
}